<div class="art-block">
  <div class="art-block-tl"></div>
  <div class="art-block-tr"></div>
  <div class="art-block-bl"></div>
  <div class="art-block-br"></div>
  <div class="art-block-tc"></div>
  <div class="art-block-bc"></div>
  <div class="art-block-cl"></div>
  <div class="art-block-cr"></div>
  <div class="art-block-cc"></div>
  <div class="art-block-body">
    <div class="art-blockheader">
      <div class="t">Newsletter</div>
    </div>
    <div class="art-blockcontent">
      <div class="art-blockcontent-body">
        <!-- block-content -->
        <div><form method="get" id="newsletterform" action="javascript:void(0)">
          <input type="text" value="" name="email" id="s" style="width: 95%;" />
                                                            <span class="art-button-wrapper">
                                                            	<span class="l"> </span>
                                                            	<span class="r"> </span>
                                                            	<input class="art-button" type="submit" name="search" value="Subscribe" />
                                                            </span>

        </form></div>
        <!-- /block-content -->

        <div class="cleared"></div>
      </div>
    </div>
    <div class="cleared"></div>
  </div>
</div>