<div class="art-block">
  <div class="art-block-body">
    <div class="art-blockheader">
      <div class="l"></div>
      <div class="r"></div>
      <div class="t">Highlights</div>
    </div>
    <div class="art-blockcontent">
      <div class="art-blockcontent-body">
        <!-- block-content -->
        <div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Hyperlink</a></li>
            <li><a href="#" class="visited">Visited link</a></li>
            <li><a href="#" class="hover">Hovered link</a></li>
          </ul>

          <p><b>Jun 14, 2008</b><br />
            Aliquam sit amet felis. Mauris semper,
            velit semper laoreet dictum, quam
            diam dictum urna, nec placerat elit
            nisl in quam. Etiam augue pede,
            molestie eget, rhoncus at, convallis
            ut, eros. Aliquam pharetra.<br />
            <a href="javascript:void(0)">Read more...</a></p>

          <p><b>Aug 24, 2008</b><br />
            Aliquam sit amet felis. Mauris semper,
            velit semper laoreet dictum, quam
            diam dictum urna, nec placerat elit
            nisl in quam. Etiam augue pede,
            molestie eget, rhoncus at, convallis
            ut, eros. Aliquam pharetra.<br />
            <a href="javascript:void(0)">Read more...</a></p>
        </div>
        <!-- /block-content -->

        <div class="cleared"></div>
      </div>
    </div>
    <div class="cleared"></div>
  </div>
</div>